# Ignore data files
/data/raw/
# Permitimos el dataset de inferencia para Streamlit
!/data/processed/inferencia_df_transformado.csv

# Ignore model files
# Permitimos el modelo final para Streamlit
!/models/modelo_final.joblib

# Ignore Streamlit cache
app/.streamlit/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/